process.container = 'nextflow/bash'

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

    standard {
        process.executor = 'local'
	params.LDSC_files = "/Users/julienbryios/Documents/Data/Projects/LDSC_nf/"
    }

    longleaf {
        process.executor = 'slurm'
	params.LDSC_files = "/nas/longleaf/home/jbryois/Projects/partitioned_LDSC/"

    }

}