process.container = 'nextflow/bash'

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

    local {
        process.executor = 'local'
	params.LDSC_files = "/Users/julienbryios/Documents/Data/Projects/LDSC_nf/"
    }

    standard {
        process.executor = 'slurm'
	params.LDSC_files = "/nas/longleaf/home/jbryois/Projects/partitioned_LDSC/"
	process {
		withName: getLDscores {
			module = 'ldsc/1.0.0:bedtools/2.25.0'
		}
	}
    }

}